<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-light">
	<div th:replace="template :: header"></div>
	<div class="card">
		<div class="card-header text-center">
			<p class="text-info" style="display: inline;">AGENDAMENTOS</p>
		</div>
		<div class="card-body">
			<div class="table-responsive-sm table-hover">
				<table id="tabela-horarios" class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col"></th>
							<th scope="col">DIA</th>
							<th scope="col">HORARIO</th>
							<th scope="col">FUNCIONARIO</th>
							<th scope="col">STATUS</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script th:src="@{/js/agendamento.js}"></script>
</body>
</html>