<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/atendimento.css}" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-light">
	<div th:replace="template :: header"></div>

	<div class="modal fade" id="modal-info-agendamento" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Agendamento</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col">
							<h4 class="nome-cliente text-center"></h4>
						</div>
					</div>
					<ul class="lista-de-servicos list-group">
					</ul>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Total</span>
						</div>
						<input type="text"
							class="form-control text-center valor-total-agendamento" disabled>
					</div>
					<select class="form-control forma-de-pagamento">
				      <option value="1">DINHEIRO</option>
				      <option value="2">CARTAO</option>
				    </select>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger btn-cancelar">Cancelar</button>
					<button type="button" class="btn btn-primary btn-atender">Atender</button>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header text-center">
			<p class="text-info" style="display: inline;">ATENDIMENTOS</p>
		</div>
		<div class="card-body">
			<div sec:authorize="hasRole('TOTAL')" class="form-group row">
				<div class="col-lg-5">
					<label class="font-weight-bold" for="data">DATA</label> <input
						id="data" class="form-control" type="date" title="DATA"> <br>

					<label class="font-weight-bold" for="horario-inicio">HORÁRIO
						DE INÍCIO -</label> <label class="font-weight-bold" for="horario-fim">HORÁRIO
						DE FIM -</label> <label class="font-weight-bold" for="periodo">INTERVALO</label>

					<div class="input-group">
						<input id="horario-inicio" class="form-control" type="time"
							title="HORARIO INICIO"> <input id="horario-fim"
							class="form-control" type="time" title="HORARIO FIM"> <input
							id="periodo" class="form-control" type="time" title="PERIODO">
					</div>
					<br> <label class="font-weight-bold" for="funcionarios">FUNCIONARIO</label>
					<select class="form-control" id="funcionarios" title="FUNCIONARIO">
					</select> <br>
					<button id="salvar" type="button" class="btn btn-info">SALVAR</button>
					<button type="button" id="remover" class="btn btn-info">EXCLUIR</button>
				</div>
			</div>
			<div class="table-responsive-sm table-bordered table-hover">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Filtro</span>
					</div>

					<input id="filtro" class="form-control" />
				</div>

				<table id="tabela-horarios" class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col"></th>
							<th scope="col">DIA</th>
							<th scope="col">HORARIO</th>
							<th scope="col">FUNCIONARIO</th>
							<th scope="col">STATUS</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script th:src="@{/js/atendimento.js}"></script>
</body>
</html>