<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="">
	<div th:replace="template :: header"></div>
	<div class="card">
		<div class="card-header text-center">
			<p class="text-info" style="display: inline;">FUNCIONARIOS</p>
		</div>
		<div class="card-body">
			<div class="form-group row">
				<div class="col-lg-5">
					<label class="font-weight-bold" for="funcionarios">FUNCIONARIO</label>
					<select class="form-control" id="funcionarios">
    				</select>
					<br>
					<label class="font-weight-bold" for="cargo">CARGO</label>
					<input id="cargo" class="form-control" type="text" title="CARGO">
					<br>
					<label class="font-weight-bold" for="funcionarios">PORCENTAGEM SOBRE SERVICO</label>
					<input id="porcentagem" class="form-control" type="number" title="PORCENTAGEM">
					<br>
					<button id="salvar" type="button" class="btn btn-info">SALVAR</button>
					<button type="button" id="remover" class="btn btn-info">EXCLUIR</button>
				</div>
			</div>
			<div class="table-responsive-sm table-bordered table-hover">
				<div class="input-group">
					<div class="input-group-prepend">
					    <span class="input-group-text">Filtro</span>
					</div>
					
					<input id="filtro" class="form-control"/>
				</div>
				
				<table id="tabela-funcionarios" class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col"></th>
							<th scope="col">NOME</th>
							<th scope="col">CARGO</th>
							<th scope="col">PORCENTAGEM</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script th:src="@{/js/funcionario.js}"></script>
</body>
</html>